<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment>
    <ion-segment-button value="All" (click) = "onButtonAllClicked()">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Listed" (click) = "onButtonListedClicked()">
      <ion-label>Listed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Featured" (click) = "onButtonFeaturedClicked()">
        <ion-label>Featured</ion-label>
      </ion-segment-button>
</ion-segment>

<ion-content>

  

  <ion-virtual-scroll [items]="posts" approxItemHeight="270px">
      <ion-card *virtualItem="let item;" [routerLink] = "['./', item.recId, 'content']">
        <ion-item>
            <ion-avatar item-start>
              <img [src]="item.imagePath">
            </ion-avatar>

                <h2>{{item.name}}</h2>

                <p>{{item.category}}</p>

        </ion-item>

        <img [src]="item.imagePath">

        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
          </ion-card-content>

        <ion-row>
            <ion-col>
                <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                <div>12 Likes</div>
            </ion-col>
            <ion-col>
                <ion-icon slot= "start" name="chatbubble-outline"></ion-icon>
                <div>5 Comments</div>
            </ion-col>
            <ion-col align-self-right text-right>
              <ion-note slot="end">
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
      
        <!-- <img [src]="item.imagePath" /> 
        <ion-card-header>
          <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header> -->

      </ion-card>
  </ion-virtual-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click) = "onPresentModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>

</ion-app>
