<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add Blog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" [style]="editorStyle">
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-button expand="full" color="secondary" type = "submit" no-margin [disabled]="!blogForm.valid">Save</ion-button>
          </ion-col>
          <ion-col no-padding>
            <ion-button expand="full" color="secondary" no-margin (click)="onCancel()">Cancel</ion-button>
          </ion-col>
        </ion-row>

           
        <ion-row>
          <ion-col size="12">
          <ion-select placeholder="Select One" class="form-control" 
          formControlName="category">
              <ion-select-option [value]="cat"
              *ngFor="let cat of category">{{ cat }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

        <ion-row> 
          <ion-col>
              <ion-input type="text" id="name" formControlName="name" class="form-control"
              placeholder="Name"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
              <ion-input type="text" id="imagePath" formControlName="imagePath" class="form-control"
              placeholder="Image URL" #imagePath></ion-input>
            </ion-col>
            <ion-col size="2" no-padding center>OR</ion-col>
            <ion-col size="2" no-padding no-margin>
              <ion-button expand="block" color="secondary" no-margin (click)="onCancel()">
              <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
        </ion-col>
        </ion-row>
        <ion-row >
            <img [src]="imagePath.value">
        </ion-row>
        <ion-row  [style]="editorStyle">
          <ion-col>
        <quill-editor
        formControlName="description">
        </quill-editor>
      </ion-col>
        </ion-row>  


       <!-- <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div class="row" *ngFor="let ingredientCtrl of ingredientsControl; let i = index" [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
              </div>
            </div>
            <hr>
          <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
              </div>
            </div> 
          </div>
        </div>-->
      </form>
      



</ion-content>




